/*boiller*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Montserrat:wght@100;400;500;800&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family:"montserrat";
    color:#fff;
}
html,
body{
    height: 100%;
    width:100%;
    perspective: 800;
}

#nav{
    height:145px;
    width:100%;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    padding: 0px 150px;
    gap:50px;
    
    position: fixed;
     z-index: 99;
    
}

#nav img{
  height:75px;

}

#nav h4{
    text-transform: uppercase;
}
#cursor{
    height:25px;
    width:25px;
    background-color: #95C11E;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}
#cursor-blur{
    height:300px;
    width:300px;
    background-color: #77a1022c;
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    filter:blur(30px);
}

#main{    
   position:relative;
   background-color: rgba(0,0,0,0.50);
}
#page1{
    height:100vh;
    width:100%;
    background-color:#77A102;
    position: relative;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    z-index: 10;
   
}
#page1 h1{
   font-size:140px;
   font-weight:bolder;
   position:relative;

}
#page1 h1::before{
    content:"EAT.DRINK.PLAY";
    position:absolute;
    top:-6px;
    left:-6px;
    z-index:-2;
    color:#000;    
    -webkit-text-stroke: 2px #95C11E;
}
#page1 h2{
    font-size: 30px;
    font-weight: 800;
    margin-top: 10px;
}
#page1 p{
    font-size: 15px;
    font-weight: 500;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}
#page2{
    height: 100vh;
    width: 100%;
    z-index: 10;
    background-color: #000;
}
#scroller{
    white-space: nowrap;    
    overflow-x: auto;
    overflow-y: hidden;
   
    z-index: 10;
    position: relative;
}
#scroller::-webkit-scrollbar{
    display: none;
}
.scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
   
    
}

.scroller-in  h4{
    display: inline-block;
    font-size: 120px;
    font-weight: 900;    
    margin-right: 10px;
    transition: all linear 0.5s;    
   color:transparent;
   font-family: gilroy;
    -webkit-text-stroke:2px #fff;
    
    
}



.scroller-in h4:hover{
    color:#95C11E;
}
@keyframes scroll{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
#about-us{
    width:50vh;
    margin-top: 100px;
    width:100%;
    z-index: 10;
    position: relative;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    padding:0 50px;

}
#about-us h3{
    font-size: 80px;
    font-weight: bolder;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}
#about-us h3{
    border-radius:50px;
}
#about1{
    width:50%;

}
#about1 p{
    line-height: 40px;
    font-weight: 220;
    font-size: 25px;
}
#about-us img{
    height: 220px;
    width:220px;
    object-fit: cover;
    border-radius: 20%;
}
#card-container{
    
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap:50px;
    background-color: #000;
}
.card{
    height: 80%;
    width:25%;
    background-color:blue;
    border-radius: 25px;
    background-size: cover;
    background-position: center
}
#card1{

    background-image: url(home-toptracer.webp);
}

#card2{
    background-image: url(home-lessons.webp);
}
#card3{
    background-image: url(hero-4.webp);
}
.overlay{
    background-color: #95C11E;
    height: 100%;
    width:100%;
    padding:30px;
    padding-top:100px;
    opacity: 0;
    transition: all ease 0.6s;
    border-radius: 7%;
}
.overlay h4{
    color:#000;
    font-size:30px;
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap;
    margin-bottom: 20px;
}
.overlay p{
    color:#000;

}
.card:hover .overlay{
    opacity: 1;
}
.card:hover{
    transform: rotate3d(-1,1,0,20deg);
}
#green-div{
    height: 30vh;
    display: flex;
    align-items: center;
   
    text-align: space-between;
    background:linear-gradient(to left bottom,#36A932,#A9DB22);
}
#green-div h4{
    width:45%;
    line-height: 50px;
    color:#000;
    font-size: 27px;
    text-transform: uppercase;      
    text-align: center;
    align-items: center;
    font-weight: 800;    
}
#green-div img{
    height:100%;
    width: 28%;
    object-fit: cover;
    padding-right: 0px;
}
#page3{
    height:100vh;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    padding-left: 60vh;
    position: relative;
    
}
#page3>p{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    z-index: 10;
    width: 55%;
    line-height: 44px;   
}
#page3 img{
    height: 60px;
    position: absolute;
}
#page3 #colon1{
    left: 15%;
    top: 20%;
}
#page3 #colon2{
    bottom: 20%;
    right: 15%;
}
#page4{
    height:50vh;
    width:100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:70px;
    position: relative;
}
.elem{
    height:70%;
    width:20%;
    overflow:hidden;
    border-radius:20px ;
    display:flex;
    position: relative;
    z-index: 10;
}
.elem h2{
    height:100%;
    width:100%;
    align-items: center;
    color: #000;
    font-size: 800;
    justify-content: center;
    background-color: #95C11E;
    display: flex;
    transition: all ease 0.5s;
    position: absolute;
    z-index: 10;
}
.elem img{
    height:100%;
    width:100%;
    transition: all ease 0.5s;
    scale:1.1s;
    object-fit: cover;
}
.elem:hover h2{
    color:#fff;
    background-color: transparent;
}
.elem:hover img{
    scale:0.8s;
}
#page4 h1{
    font-size: 100px;
    position: absolute;
    top:-5%;
    font-family: gilroy;
    color:#000;
    -webkit-text-stroke: 2px #95C11E;

}
#page4 h1:hover{
    color:white;
}
#footer{
    height:50vh;
    width:100%;
    background:linear-gradient(to left bottom,#36A932,#95C11E);
    position: relative;
    display: flex;
    
}
#page1 #arrow{
    background-color:transparent;
    height: 200px;
    width:200px;
    border-radius:70% ;
    border: 2px solid #95C11E;
    left:-2%;
    bottom:-2%;
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: all ease 0.5s;
}
#page1 #arrow i{
    font-size: 50px;
    font-weight: 100;

}
#page1 #arrow:hover{
    scale:0.4;
    background-color: #95C11E;
}

#footer .image1{
    height:10%;
    width:30%;
    position:absolute;
}
#footer .image2{
    height:200px;
    width:200px;
    position:absolute;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
}

#footer #icons{
    
    gap:45px;
    padding-left:180px;
    padding-top: 250px;
}
#footer #icons i{
    
   color:#000;
   padding-right: 10px;
}
#footer #list{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;

    

}
#list li{
    
    list-style-type: none;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 60px;
    

}
#list  h1{
   color:#000;
   font-size: 800;
   font-weight: 800;
   gap:70px;
}
#list  h4{
    color:#000;
    font-size: 800;
    font-weight: 600;
    gap:70px;
 }
 
